*{
    text-decoration: none;
    margin:0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


nav a{
    margin: 0 30px;
    display: inline-block;
    
}

.search{
    padding: 0 20px 20px;
}

.banner{
    border: 2px solid;
    display: flex;
    margin: auto;
    width: 1250px;
    height:300px;
}

.banner h2{
    display: flex;
    margin: auto;
    align-items: center;
}

.container{
    
    display: flex;
    margin: auto;
    width:1100px;
    height: auto;
}

.texto{
    width: 500px;
    display: flex;
    align-items: center;
    text-align: justify;
}


.info{
    margin: auto;
}

.img{
    border: 2px solid;
    width: 400px;
    height: 250px
}

footer {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  
}